html {
  box-sizing: border-box;
  /* https://css-tricks.com/box-sizing/ */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------ BODY ------ */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background: black;
}

/*bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
body::-webkit-scrollbar {
  display: none;
}

/* ------ HEADER ------ */

header h1 {
  padding-left: 95px;
  color: white;
}

header img {
  height: 62px;
  margin-left: 95px;
  margin-top: 10px;
}

header {
  background-color: #F6BF26;
  margin-bottom: 10px;
  display: flex;
}

header div {
  background-color: white;
  border-radius: 1em;
  height: 52px;
  width: 187px;
  margin-left: 690px;
  margin-top: 11px;
}

header div p {
  color: black;
  margin-left: 12px;
}

/* ------ MAIN ------ */

main {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  overflow-x: scroll;
  overflow-y: hidden;
}

/*bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
main::-webkit-scrollbar {
  display: none;
}

main section img {
  height: 460px;
  transition: all 0.5s;
  border-radius: 1em;
  max-width: 310px;
}

main section img:hover {
  transform: scale(1.1);
}

main section h1 {
  color: white;
  font-size: 15px;
}

main section .show {
  visibility: visible;
  transform: scaleY(1);
  overflow: hidden;
}

main section .remove {
  display: none;
}

.button {
  background-color: #F6BF26;
  width: 92px;
  padding: 1px;
  border-radius: 1em;
  display: inline-block;
  transition: all 0.5s;
  border-radius: 1em;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button p {
  padding-left: 18px;
  color: white;
  /*met pointer events zorg je ervoor dat je niet meer kan klikken op p 
  bron: https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events*/
  pointer-events: none;
}

main section div {
  visibility: hidden;
  color: white;
}

.show {
  visibility: visible;
  overflow: hidden;
}

.remove {
  display: none;
}

/* LOADING STATE */
.loading {
  background-color: #F6BF26;
  height: 100%;
  width: 100%;
}

.loading h1 {
  text-align: center;
  padding-top: 140px;
}

.loading img {
  display: block;
  margin: auto;
}

/* LIGHTMODE */

.lightmode {
  background-color: white;
}

.lightmode p {
  color: black;
}

.lightmode div {
  color: black;
}

.lightmode main h1 {
  color: black;
}
