html {
  background-color: gainsboro;
}

header img {
  height: 90px;
  display: block;
  margin: auto;
  margin-bottom: 52px;
}

div img {
  height: 400px;
  display: block;
  margin: auto;
}

.background {
  background-color: white;
  top: 129px;
  height: 442px;
  width: 756px;
  position: absolute;
  right: 340px;
  box-shadow: 0 51px 93px -19px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

button img {
  height: 40px;
}